
<!DOCTYPE html>
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="/static/app/css/register.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">

</head>

<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<!-- <h1>Get it now</h1>
		<p>it's more easy than thinking..</p> -->
		
		</div>
	</div>
	
	
		<div class="right">
		<h1>Registration</h1>
		<div class="inputs">
			<input type="text" placeholder="First name">
			<br>
			<br>
            <input type="text" placeholder="Last name">
            <br>
			<br>
			<input type="text" placeholder="mobile number">
            <br>
            <br>

			<input type="password" placeholder="password">
            <br>
			<br>
            <input type="password" placeholder="conform password">
		</div>
			
			<br><br>
			
		<!-- <div class="remember-me--forget-password">
				
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>forget password?</p>
		</div> -->
			
			<br>
			<button>Register</button>
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
